################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Release/unsharpHQ.tlog
/Release/vc141.pdb
/Release/unsharpHQ.pdb
/Release/unSharpHQ.obj
/Release/unsharpHQ.log
/Release/unsharpHQ.lib
/Release/unsharpHQ.ipdb
/Release/unsharpHQ.iobj
/Release/unsharpHQ.exp
/Release/unsharpHQ.Build.CppClean.log
/Release/unSharpHQ.asm
/パフォーマンス1.psess
/unsharpHQ.vcxproj.user
/unsharpHQ.vcxproj.filters
