################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Release
/x64
/*.psess
/unsharpHQ.vcxproj.user
/unsharpHQ.vcxproj.filters
/Debug
/rep
*.ZIP
